# Jaga Data Challenge 2021

## Tim CeDua

- Andum Pangestu
- Muhammad Satria Ramadhani
- Nyoman Ari Satyadharma
- Satria Pinandita Abyatarsyah

## Sumber Dataset
- Jaga Data Challenge 2021

### Import Library

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl as opy

### Import Dataset Daftar Prodi (Jaga Data Challenge 2021)

In [46]:
daftar_prodi = pd.read_excel("D:\\Ari\\Kuliah\\Jaga Data Challenge\\Jaga Data Challenge 2021\\Pendidikan Tinggi\\Daftar Prodi - Copy.xlsx")
daftar_prodi

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
0,6003,Akademi Komunitas Negeri Aceh Barat,D2,21501.0,Teknologi Pengelasan Logam,A,72.0
1,6003,Akademi Komunitas Negeri Aceh Barat,D2,22501.0,"Konstruksi Pondasi, Beton dan Pengaspalan Jalan",A,72.0
2,6003,Akademi Komunitas Negeri Aceh Barat,D2,20501.0,Instalasi dan Pemeliharaan Jaringan Listrik,A,72.0
3,6003,Akademi Komunitas Negeri Aceh Barat,D2,21501.0,Teknologi Pengelasan Logam,A,72.0
4,6003,Akademi Komunitas Negeri Aceh Barat,D2,22501.0,"Konstruksi Pondasi, Beton dan Pengaspalan Jalan",A,72.0
...,...,...,...,...,...,...,...
37562,1013,Universitas Udayana,D3,79402.0,Bahasa Inggris,H,108.0
37563,1013,Universitas Udayana,Sp-1,11711.0,Ilmu Kesehatan Anak,A,36.0
37564,1013,Universitas Udayana,S1,70201.0,Ilmu Komunikasi,A,144.0
37565,1013,Universitas Udayana,S1,70201.0,Ilmu Komunikasi,A,144.0
37566,1013,Universitas Udayana,S1,46201.0,Biologi,A,144.0

In [10]:
daftar_prodi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37567 entries, 0 to 37566
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   kode        37567 non-null  int64
 1   nama        37567 non-null  object
 2   jenjang     37530 non-null  object
 3   kode_prodi  37530 non-null  float64
 4   nama_prodi  37530 non-null  object
 5   akreditasi  37530 non-null  object
 6   sks_lulus   37530 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 2.0+ MB

### Mencari data kosong

In [57]:
daftar_prodi.isnull().sum()

kode           0
nama           0
jenjang       37
kode_prodi    37
nama_prodi    37
akreditasi    37
sks_lulus     37
dtype: int64

In [17]:
daftar_prodi[daftar_prodi.kode_prodi.isnull()]

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
18,6004,Akademi Komunitas Negeri Rejang Lebong,NaN,NaN,NaN,NaN,NaN
702,2008,Institut Seni Indonesia Surakarta,NaN,NaN,NaN,NaN,NaN
3578,5018,Politeknik Elektronika Negeri Surabaya,NaN,NaN,NaN,NaN,NaN
3579,5001,Politeknik Manufaktur Bandung,NaN,NaN,NaN,NaN,NaN
3580,5028,Politeknik Manufaktur Negeri Bangka Belitung,NaN,NaN,NaN,NaN,NaN
3581,5034,Politeknik Maritim Negeri Indonesia,NaN,NaN,NaN,NaN,NaN
3662,5010,Politeknik Negeri Bali,NaN,NaN,NaN,NaN,NaN
3663,5032,Politeknik Negeri Balikpapan,NaN,NaN,NaN,NaN,NaN
3664,5004,Politeknik Negeri Bandung,NaN,NaN,NaN,NaN,NaN
3665,5015,Politeknik Negeri Banjarmasin,NaN,NaN,NaN,NaN,NaN
3666,5035,Politeknik Negeri Banyuwangi,NaN,NaN,NaN,NaN,NaN
3805,5042,Politeknik Negeri Cilacap,NaN,NaN,NaN,NaN,NaN
3806,5037,Politeknik Negeri Fakfak,NaN,NaN,NaN,NaN,NaN
3807,5043,Politeknik Negeri Indramayu,NaN,NaN,NaN,NaN,NaN
4236,5041,Politeknik Negeri Ketapang,NaN,NaN,NaN,NaN,NaN
4237,5017,Politeknik Negeri Kupang,NaN,NaN,NaN,NaN,NaN
4238,5007,Politeknik Negeri Lampung,NaN,NaN,NaN,NaN,NaN
4239,5016,Politeknik Negeri Lhokseumawe,NaN,NaN,NaN,NaN,NaN
4303,5033,Politeknik Negeri Madura,NaN,NaN,NaN,NaN,NaN
4818,5030,Politeknik Negeri Nusa Utara,NaN,NaN,NaN,NaN,NaN
5227,5026,Politeknik Negeri Samarinda,NaN,NaN,NaN,NaN,NaN
5228,5038,Politeknik Negeri Sambas,NaN,NaN,NaN,NaN,NaN
5390,5040,Politeknik Negeri Subang,NaN,NaN,NaN,NaN,NaN
5391,5039,Politeknik Negeri Tanah Laut,NaN,NaN,NaN,NaN,NaN
5392,5012,Politeknik Negeri Ujung Pandang,NaN,NaN,NaN,NaN,NaN
5393,5022,Politeknik Perikanan Negeri Tual,NaN,NaN,NaN,NaN,NaN
5436,5021,Politeknik Pertanian Negeri Kupang,NaN,NaN,NaN,NaN,NaN
5437,5020,Politeknik Pertanian Negeri Pangkajene Kepulauan,NaN,NaN,NaN,NaN,NaN
5460,5024,Politeknik Pertanian Negeri Samarinda,NaN,NaN,NaN,NaN,NaN
27857,1024,Universitas Palangka Raya,NaN,NaN,NaN,NaN,NaN
28082,1021,Universitas Pattimura,NaN,NaN,NaN,NaN,NaN
33954,1055,Universitas Sembilan Belas November Kolaka,NaN,NaN,NaN,NaN,NaN
34075,1063,Universitas Singaperbangsa Karawang,NaN,NaN,NaN,NaN,NaN
34576,1054,Universitas Sulawesi Barat,NaN,NaN,NaN,NaN,NaN
35255,1011,Universitas Syiah Kuala,NaN,NaN,NaN,NaN,NaN
36829,1058,Universitas Teuku Umar,NaN,NaN,NaN,NaN,NaN
37050,1060,Universitas Timor,NaN,NaN,NaN,NaN,NaN

### Akreditasi "H" dan "N"

In [22]:
daftar_prodi.akreditasi.value_counts()

A    34131
H     2927
N      349
B      123
Name: akreditasi, dtype: int64

In [24]:
daftar_prodi[(daftar_prodi.akreditasi == "H") | (daftar_prodi.akreditasi == "N")]

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
23,2003,Institut Pertanian Bogor,D2,57581.0,Manajemen Informatika Kab. Aceh Tamiang,N,72.0
30,2003,Institut Pertanian Bogor,D2,54544.0,Teknologi Industri dan manajemen Perikanan Bud...,N,72.0
33,2003,Institut Pertanian Bogor,S2,54106.0,Mitigasi Bencana Kerusakan Lahan,N,36.0
38,2003,Institut Pertanian Bogor,S2,71101.0,Teknologi Informasi untuk Perpustakaan,H,36.0
41,2003,Institut Pertanian Bogor,S3,54049.0,Sistem dan Pemodelan Perikanan Tangkap,N,42.0
...,...,...,...,...,...,...,...
37487,1013,Universitas Udayana,D3,79404.0,Bahasa Jepang,H,108.0
37530,1013,Universitas Udayana,D3,61404.0,Manajemen Pemasaran,H,108.0
37531,1013,Universitas Udayana,D3,61404.0,Manajemen Pemasaran,H,108.0
37541,1013,Universitas Udayana,D3,79402.0,Bahasa Inggris,H,108.0
37562,1013,Universitas Udayana,D3,79402.0,Bahasa Inggris,H,108.0

### Memeriksa value atribut jenjang

In [25]:
daftar_prodi.jenjang.value_counts()

S1            18731
S2             7768
D3             3578
S3             2811
Sp-1           1481
D4             1246
Profesi        1153
D2              438
D1              199
Sp-2             84
S2 Terapan       41
Name: jenjang, dtype: int64

### Contoh prodi yang tidak terdata

In [28]:
daftar_prodi[(daftar_prodi.nama == "Universitas Pendidikan Indonesia") & (daftar_prodi.nama_prodi == "Ilmu Komputer")]

Empty DataFrame
Columns: [kode, nama, jenjang, kode_prodi, nama_prodi, akreditasi, sks_lulus]
Index: []

### Contoh prodi yang duplikat dan salah akreditasi

In [27]:
daftar_prodi[(daftar_prodi.nama == "Universitas Pendidikan Indonesia") & (daftar_prodi.nama_prodi == "Pendidikan Ilmu Komputer")]

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
30083,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30184,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30274,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30334,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30528,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30618,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30723,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30843,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
30966,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0
31077,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0

### Jumlah sks lulus yang salah

In [29]:
daftar_prodi.sks_lulus.value_counts()

144.0    19930
36.0      9413
108.0     3578
42.0      2904
0.0        650
24.0       551
72.0       429
150.0       47
30.0        18
80.0         9
44.0         1
Name: sks_lulus, dtype: int64

#### Setelah menampilkan prodi yang memiliki sks lulus yang salah, ternyata terdapat duplikasi data

In [56]:
daftar_prodi[daftar_prodi.sks_lulus == 0]

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
34,2003,Institut Pertanian Bogor,Profesi,13911.0,Pendidikan Profesi Dietisien,A,0.0
135,2003,Institut Pertanian Bogor,Profesi,13911.0,Pendidikan Profesi Dietisien,A,0.0
279,2003,Institut Pertanian Bogor,Profesi,13911.0,Pendidikan Profesi Dietisien,A,0.0
360,2003,Institut Pertanian Bogor,Profesi,13911.0,Pendidikan Profesi Dietisien,A,0.0
425,2003,Institut Pertanian Bogor,Profesi,13911.0,Pendidikan Profesi Dietisien,A,0.0
...,...,...,...,...,...,...,...
37378,1013,Universitas Udayana,Profesi,12901.0,Profesi Dokter Gigi,A,0.0
37448,1013,Universitas Udayana,Profesi,23902.0,Program Profesi Insinyur,A,0.0
37470,1013,Universitas Udayana,Profesi,12901.0,Profesi Dokter Gigi,A,0.0
37519,1013,Universitas Udayana,Profesi,23902.0,Program Profesi Insinyur,A,0.0
37542,1013,Universitas Udayana,Profesi,12901.0,Profesi Dokter Gigi,A,0.0

### Menghapus data duplikat

In [45]:
daftar_prodi_non_duplikat = daftar_prodi.drop_duplicates(subset="kode_prodi")
daftar_prodi_non_duplikat

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
0,6003,Akademi Komunitas Negeri Aceh Barat,D2,21501.0,Teknologi Pengelasan Logam,A,72.0
1,6003,Akademi Komunitas Negeri Aceh Barat,D2,22501.0,"Konstruksi Pondasi, Beton dan Pengaspalan Jalan",A,72.0
2,6003,Akademi Komunitas Negeri Aceh Barat,D2,20501.0,Instalasi dan Pemeliharaan Jaringan Listrik,A,72.0
9,6001,Akademi Komunitas Negeri Pacitan,D2,70507.0,Tata Laksana Studio Produksi,A,72.0
11,6001,Akademi Komunitas Negeri Pacitan,D2,56572.0,Pemeliharaan Komputer dan Jaringan,A,72.0
...,...,...,...,...,...,...,...
37299,1013,Universitas Udayana,Sp-1,11714.0,Ilmu Bedah Plastik,A,36.0
37346,1013,Universitas Udayana,S3,20003.0,Ilmu Teknik,A,42.0
37362,1013,Universitas Udayana,S2,11108.0,Ergonomi Fisiologi Kerja,A,36.0
37369,1013,Universitas Udayana,S1,11202.0,Fisioterapi,A,144.0
37399,1013,Universitas Udayana,S2,54161.0,Kedokteran Hewan,A,36.0

In [47]:
daftar_prodi_non_duplikat[daftar_prodi_non_duplikat.nama_prodi == "Pendidikan Ilmu Komputer"]

,kode,nama,jenjang,kode_prodi,nama_prodi,akreditasi,sks_lulus
30083,1034,Universitas Pendidikan Indonesia,S2,83105.0,Pendidikan Ilmu Komputer,A,36.0

### Import Dataset Jumlah Dosen, Mahasiswa, Prodi (Jaga Data Challenge 2021)

In [36]:
daftar_dmp = pd.read_excel("D:\\Ari\\Kuliah\\Jaga Data Challenge\\Jaga Data Challenge 2021\\Pendidikan Tinggi\\Jumlah Dosen, Mahasiswa, Prodi - Copy.xlsx")
daftar_dmp.head(10)

,kode,nama,jenjang,jumlah_dosen,jumlah_mahasiswa,jumlah_prodi
0,6003,Akademi Komunitas Negeri Aceh Barat,d1,0.0,0.0,0
1,6003,Akademi Komunitas Negeri Aceh Barat,d2,20.0,151.0,9
2,6003,Akademi Komunitas Negeri Aceh Barat,d3,0.0,0.0,0
3,6003,Akademi Komunitas Negeri Aceh Barat,d4,0.0,0.0,0
4,6003,Akademi Komunitas Negeri Aceh Barat,prof,0.0,0.0,0
5,6003,Akademi Komunitas Negeri Aceh Barat,s1,0.0,0.0,0
6,6003,Akademi Komunitas Negeri Aceh Barat,s2,0.0,0.0,0
7,6003,Akademi Komunitas Negeri Aceh Barat,s3,0.0,0.0,0
8,6003,Akademi Komunitas Negeri Aceh Barat,sp1,0.0,0.0,0
9,6003,Akademi Komunitas Negeri Aceh Barat,sp2,0.0,0.0,0

In [37]:
daftar_dmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   kode              877 non-null    int64
 1   nama              877 non-null    object
 2   jenjang           840 non-null    object
 3   jumlah_dosen      840 non-null    float64
 4   jumlah_mahasiswa  840 non-null    float64
 5   jumlah_prodi      877 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 41.2+ KB

In [48]:
daftar_dmp.jenjang.value_counts()

d1      84
d3      84
d4      84
s3      84
d2      84
s1      84
sp1     84
sp2     84
s2      84
prof    84
Name: jenjang, dtype: int64

### Mencari data kosong

In [38]:
daftar_dmp.isnull().sum()

kode                 0
nama                 0
jenjang             37
jumlah_dosen        37
jumlah_mahasiswa    37
jumlah_prodi         0
dtype: int64

In [39]:
daftar_dmp.loc[(daftar_dmp.jenjang.isnull())]

,kode,nama,jenjang,jumlah_dosen,jumlah_mahasiswa,jumlah_prodi
20,6004,Akademi Komunitas Negeri Rejang Lebong,NaN,NaN,NaN,0
81,2008,Institut Seni Indonesia Surakarta,NaN,NaN,NaN,0
132,5018,Politeknik Elektronika Negeri Surabaya,NaN,NaN,NaN,0
133,5001,Politeknik Manufaktur Bandung,NaN,NaN,NaN,0
134,5028,Politeknik Manufaktur Negeri Bangka Belitung,NaN,NaN,NaN,0
135,5034,Politeknik Maritim Negeri Indonesia,NaN,NaN,NaN,0
146,5010,Politeknik Negeri Bali,NaN,NaN,NaN,0
147,5032,Politeknik Negeri Balikpapan,NaN,NaN,NaN,0
148,5004,Politeknik Negeri Bandung,NaN,NaN,NaN,0
149,5015,Politeknik Negeri Banjarmasin,NaN,NaN,NaN,0
150,5035,Politeknik Negeri Banyuwangi,NaN,NaN,NaN,0
171,5042,Politeknik Negeri Cilacap,NaN,NaN,NaN,0
172,5037,Politeknik Negeri Fakfak,NaN,NaN,NaN,0
173,5043,Politeknik Negeri Indramayu,NaN,NaN,NaN,0
194,5041,Politeknik Negeri Ketapang,NaN,NaN,NaN,0
195,5017,Politeknik Negeri Kupang,NaN,NaN,NaN,0
196,5007,Politeknik Negeri Lampung,NaN,NaN,NaN,0
197,5016,Politeknik Negeri Lhokseumawe,NaN,NaN,NaN,0
208,5033,Politeknik Negeri Madura,NaN,NaN,NaN,0
249,5030,Politeknik Negeri Nusa Utara,NaN,NaN,NaN,0
270,5026,Politeknik Negeri Samarinda,NaN,NaN,NaN,0
271,5038,Politeknik Negeri Sambas,NaN,NaN,NaN,0
292,5040,Politeknik Negeri Subang,NaN,NaN,NaN,0
293,5039,Politeknik Negeri Tanah Laut,NaN,NaN,NaN,0
294,5012,Politeknik Negeri Ujung Pandang,NaN,NaN,NaN,0
295,5022,Politeknik Perikanan Negeri Tual,NaN,NaN,NaN,0
306,5021,Politeknik Pertanian Negeri Kupang,NaN,NaN,NaN,0
307,5020,Politeknik Pertanian Negeri Pangkajene Kepulauan,NaN,NaN,NaN,0
318,5024,Politeknik Pertanian Negeri Samarinda,NaN,NaN,NaN,0
669,1024,Universitas Palangka Raya,NaN,NaN,NaN,0
680,1021,Universitas Pattimura,NaN,NaN,NaN,0
771,1055,Universitas Sembilan Belas November Kolaka,NaN,NaN,NaN,0
782,1063,Universitas Singaperbangsa Karawang,NaN,NaN,NaN,0
793,1054,Universitas Sulawesi Barat,NaN,NaN,NaN,0
814,1011,Universitas Syiah Kuala,NaN,NaN,NaN,0
845,1058,Universitas Teuku Umar,NaN,NaN,NaN,0
856,1060,Universitas Timor,NaN,NaN,NaN,0

### Mencari data dengan jumlah mahasiswa yang tidak masuk akal

In [55]:
daftar_dmp[daftar_dmp.jumlah_mahasiswa == 1]

,kode,nama,jenjang,jumlah_dosen,jumlah_mahasiswa,jumlah_prodi
84,2005,Institut Seni Indonesia Yogyakarta,d3,13.0,1.0,14
119,2002,Institut Teknologi Sepuluh Nopember,s3,102.0,1.0,68
262,5011,Politeknik Negeri Pontianak,d3,290.0,1.0,180
325,1004,Universitas Airlangga,s2,429.0,1.0,50
394,1008,Universitas Diponegoro,s1,1346.0,1.0,726
395,1008,Universitas Diponegoro,s2,297.0,1.0,572
471,1044,Universitas Khairun,d3,8.0,1.0,2
644,1038,Universitas Negeri Yogyakarta,s1,940.0,1.0,440
717,1048,Universitas Pendidikan Ganesha,s2,116.0,1.0,238
832,1022,Universitas Tanjungpura,s3,12.0,1.0,24

### Contoh PTN dengan data yang tidak masuk akal

In [52]:
daftar_dmp[daftar_dmp.nama == "Universitas Diponegoro"]

,kode,nama,jenjang,jumlah_dosen,jumlah_mahasiswa,jumlah_prodi
389,1008,Universitas Diponegoro,d1,25.0,0.0,0
390,1008,Universitas Diponegoro,d2,0.0,0.0,0
391,1008,Universitas Diponegoro,d3,174.0,0.0,286
392,1008,Universitas Diponegoro,d4,50.0,0.0,132
393,1008,Universitas Diponegoro,prof,0.0,0.0,0
394,1008,Universitas Diponegoro,s1,1346.0,1.0,726
395,1008,Universitas Diponegoro,s2,297.0,1.0,572
396,1008,Universitas Diponegoro,s3,122.0,41.0,154
397,1008,Universitas Diponegoro,sp1,181.0,67.0,0
398,1008,Universitas Diponegoro,sp2,0.0,0.0,0